{:kotoba.app/id "cloud.itonami.isic-4711", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihhfrsjmn5dua54qck2kex6d43dm6w5f67upn352khaifyc5ulply", :kotoba.app/embed-url "ipfs://bafkreihhfrsjmn5dua54qck2kex6d43dm6w5f67upn352khaifyc5ulply", :published {:archive "https://kotobase.net/ipfs/bafkreihhfrsjmn5dua54qck2kex6d43dm6w5f67upn352khaifyc5ulply", :size 72503, :put-status 201, :get-status 200, :at "2026-08-15T13:38:26.787Z"}}
